.homePage {
    .title {
        margin: 10px;
        font-size: 30px;
    }

    .doughnutChartGroup {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
    }

    .chartContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin: 50px 5%;
        padding: 2.5%;
    }
}
