.newProductForm {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);

    .title {
        font-size: 30px;
    }

    .formContent {
        margin: 20px;
    }

    .inputGroup {
        display: flex;
    }

    .button {
        margin: 10px;
    }
}
